<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Label possible SWR events</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <!-- Attributes with the prefix "v-" are
       parsed by the JavaScript UI framework "Vue".
       See: https://vuejs.org
  -->
  <div id="label-app" class="container">

    <div class="row">

      <div class="col-md-6">

        <div id="unlabelled-events" class="vignette-list">
          <h4>Unlabelled events</h4>
          <div class="vignette-container">
            <img v-for="event in events.unlabelled"
                 v-bind:src="imageSrc(event)">
          </div>
        </div>

        <div id="active-event">
          <div class="vignette-container">
            <img v-if="events.activeEvent != null"
                 v-bind:src="imageSrc(events.activeEvent)">
          </div>
          <button v-on:click="labelActiveEvent('not_SWR')"
                  class="btn btn-outline-primary">
            (<) Label Not SWR
          </button>
          <button v-on:click="labelActiveEvent('SWR')"
                  class="btn btn-outline-primary">
            Label SWR (>)
          </button>
          <p>Last save: {{ last_save_pretty }}</p>
        </div>

      </div>


    </div>

    <div class="row">

      <div id="labelled-not-SWR"
           class="col-md-6 vignette-list">
        <h4>Probably not an SWR event</h4>
        <div class="vignette-container">
          <img v-for="event in events.not_SWR"
               v-bind:src="imageSrc(event)"
               v-on:click="unlabel(event, 'not_SWR')"
               class="clickable"
               title="Send back to queue">
        </div>
      </div>
      <div id="labelled-SWR"
           class="col-md-6 vignette-list">
        <h4>Probably an SWR event</h4>
        <div class="vignette-container">
          <img v-for="event in events.SWR"
               v-bind:src="imageSrc(event)"
               v-on:click="unlabel(event, 'SWR')"
               class="clickable"
               title="Send back to queue">
        </div>
      </div>

    </div>

  </div>

  <script src="lib/jquery-3.3.1.min.js"></script>
  <script src="lib/moment.js"></script>
  <script src="lib/lodash.js"></script>
  <script src="lib/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>
