<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width,
                 initial-scale=1,
                 shrink-to-fit=no">
  <title>Label potential SWR events</title>
  <link rel="stylesheet" href="lib/bootstrap.min.css">
  <link rel="stylesheet" href="lib/vue-loading.min.css">
  <link rel="stylesheet" href="lib/vue-loading-spinner.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <!-- Attributes with the prefix "v-" are
       parsed by the JavaScript UI framework "Vue".
       See: https://vuejs.org
  -->
  <div id="label-app" class="container-fluid">

    <loading v-bind:active.sync="loading"></loading>
    
    <nav class="navbar navbar-light
                bg-light navbar-expand-md
                d-flex justify-content-between">
      <div class="d-flex flex-wrap">
        <form class="form-inline">
          <button type="button"
                  class="btn btn-outline-secondary btn-sm mr-1"
                  data-toggle="modal"
                  data-target="#settings">
            Settings
          </button>
          <button type="button"
                  class="btn btn-outline-secondary btn-sm mr-3"
                  data-toggle="modal"
                  data-target="#info">
            Info
          </button>
        </form>
        <div id="last-save"
             class="text-muted navbar-text"
             style="width: 220px">
          <small v-if="last_save">
            Last save: {{ last_save_pretty }}
          </small>
        </div>
      </div>
      <div>
        <span class="navbar-text" v-if="activeEvent">
          Event <strong>{{ activeEvent.id + 1 }}</strong>
        </span>
      </div>
      <div class="d-flex">
        <form id="form-event"
              class="form-inline"
              v-if="activeEvent">
          <input type="text"
                 id="comment-input"
                 placeholder="Optional comment"
                 title="Attach a comment to this event"
                 class="form-control form-control-sm
                        mt-1 mb-1 mr-3"
                 v-model="activeEvent.comment">
          <button type="button"
                  v-on:click="labelActiveEvent('SWR')"
                  class="btn btn-outline-success btn-sm
                         mt-1 mb-1 mr-3"
                  title="Shortcut: up arrow key">
            ↑ Label SWR
          </button>
          <button type="button"
                  v-on:click="labelActiveEvent('not_SWR')"
                  class="btn btn-outline-danger btn-sm
                         mt-1 mb-1"
                  title="Shortcut: down arrow key">
            ↓ Label Not SWR
          </button>
        </form>
      </div>
    </nav>

    <div class="row mt-3">
      <div class="col">
        <div class="card">
          <div id="vignette-container">
            <img v-for="event in events"
                 v-bind:src="imageSrc(event)"
                 v-on:mouseover="hovered = event"
                 v-on:mouseleave="hovered = null"
                 v-on:click="activate(event)"
                 v-bind:id="'vignette-' + event.id"
                 class="vignette mr-2"
                 v-bind:class="vignetteClass(event)"
                 v-bind:title="vignetteTitle(event)">
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <div id="context"
             class="card">
          <img v-bind:src="contextSrc">
        </div>
      </div>
    </div>

    <div id="settings"
         class="modal fade"
         tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Label potential SWR events</h5>
            <button type="button"
                    class="close"
                    data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Thanks for taking the time to help.</p>

            <h5>Settings</h5>
            <p>Please select your name, and the subset of events you want to label:</p>

            <div v-if="backend_waking_up" class="row">
              <div class="col-7 d-flex">
                <p class="text-muted align-self-end mb-0">
                  Waiting for backend to wake up...
                </p>
              </div>
              <div class="col">
                <spinner></spinner>
              </div>
            </div>
            <form v-else>
              <div class="form-group row">
                <label for="author-selector"
                       class="col col-form-label">
                  Name:
                </label>
                <div class="col-sm-4">
                  <select v-model="selected_author"
                          id="author-selector"
                          class="form-control"
                          title="Select your name">
                    <option v-for="name in authors">
                      {{ name }}
                    </option>
                    <option>
                      [ New name ]
                    </option>
                  </select>
                </div>
                <label for="subset-selector"
                       class="col col-form-label">
                  Events:
                </label>
                <div class="col-sm-4">
                  <select v-model="selected_subset"
                          id="subset-selector"
                          class="form-control"
                          title="Select the subset of events that are loaded">
                    <option disabled value="">
                      Select subset
                    </option>
                    <option v-for="subset in subsets">
                      {{ subset }}
                    </option>
                  </select>
                </div>
              </div>
            </form>

            <p>
              <h5>Controls</h5>
              <ul>
                <li>Arrow keys <kbd>&lt;</kbd> and <kbd>&gt;</kbd> to move between events. (You can also use the mouse).</li>
                <li>Arrow keys <kbd>^</kbd> and <kbd>v</kbd> to label the selected event as either "<span class="text-success">Probably a sharp-wave ripple</span>" or "<span class="text-danger">Probably <em>not</em> a sharp-wave ripple</span>", respectively. (Or use the buttons in the top right corner).</li>
              </ul>
            </p>

            <h5>Data &amp; plots</h5>
            <p>
              Information about what you see in the plots can be found under the "Info" button.
            </p>
            <p>
              Thanks again and good luck!
            </p>
          </div>

          <div class="modal-footer">
            <button type="button"
                    class="btn btn-primary"
                    data-dismiss="modal"
                    v-bind:disabled="backend_waking_up">
              Let's get started
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="info"
         class="modal fade"
         tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">What's in the plots</h5>
            <button type="button"
                    class="close"
                    data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <h5>Data</h5>

            We analyse an LFP recording from <em>Michon et al. 2016</em>, made with a 16-electrode "L"-style probe. (Specifically probe number "L2"). The data is filtered between 0.1 and 500 Hz.

<!--             <ul>
              <li>Male Long-Evans rat.</li>
              <li>Extracellular electric field potential</li>
              <li>Filtered 0.1 - 500 Hz</li>
              <li>16-electrode, "L" style probe.</li>
            </ul>
            made in a Long-Evans rat in 2014. -->
<!-- 
            <figure class="figure mt-3 mb-3">
              <img src="img/Histology.png"
                   class="figure-img img-fluid">
              <figcaption class="figure-caption">
                Fig. 1 | Image from <em>Michon et al. 2016</em>.
              </figcaption>
            </figure> -->

            <figure class="figure m-3">
              <img src="img/Composition.png"
                   class="figure-img img-fluid">
              <figcaption class="figure-caption">Rough estimation of the position of the probe with respect to the layers of CA1. Only five of the 16 voltage traces are drawn here.</figcaption>
            </figure>

            <h5>Plots</h5>

            <p>Each event in the list at the top is represented by two voltage traces: one from an electrode in the pyramidal cell layer (the top trace), and one from an electrode in the stratum radiatum.
              <!-- The event that is currently active can be seen in the middle left. The scalebars represent 50 ms and 1 mV.-->
            </p>

            <p>The large plot at the bottom gives more comprehensive view of the current event: all 16 channels are plotted (instead of only two), and the plot ranges from 1000 ms before to 1000 ms after the event.</p>
            <p>In this large plot, the blue vertical line marks the currently active event. The grey vertical lines correspond to other detected events. The scalebar at the beginning of this plot represents 1 mV.</p>
            
          </div>
          <div class="modal-footer">
            <button type="button"
                    class="btn btn-primary"
                    data-dismiss="modal">
              OK
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="lib/jquery-3.3.1.min.js"></script>
  <script src="lib/bootstrap.bundle.min.js"></script>
  <script src="lib/moment.js"></script>
  <script src="lib/lodash.js"></script>
  <script src="lib/vue.js"></script>
  <script src="lib/vue-loading.min.js"></script>
  <script src="lib/vue-loading-spinner.js"></script>
  <script src="lib/vue-scrollto.js"></script>
  <script src="app.js"></script>
</body>
</html>
