.vignette-list > .vignette-container {
	white-space: nowrap;
	overflow-x: scroll;
}

.vignette-container > img {
	height: 150px;
	border: 1px solid white;
}

.vignette-container > img.has-comment {
	border-bottom: 1px solid #CCC;
}

.vignette-container {
	/* Extra pixels for scroll bar */
	height: 170px;
}

#active-event > .vignette-container {
	height: 150px;
	width: 135px;
}

#unlabelled-events {
	direction: rtl;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	border: 1px solid black;
}

#context {
	overflow-x: scroll;
	height: 100%;
}

#context > img {
	width: 1015px;
}

.scalebar {
	display: block;
	position: absolute;
	background: black;
}

#voltage {
	/* 1 mV */
	height: 32.15px;
	width: 1px;
	top: 45%;
	left: 18px;
}

#time {
	/* 50 ms */
	width: 58.04px;
	height: 1px;
	bottom: 10%;
	left: 20px;
}

.modal-body > h5 {
	margin-top: 1.5em;
}

@media (min-width: 992px) {
	.modal-lg {
		max-width: 45%;
	}
}
