.vignette-list, #active-event {
	margin: 20px 20px 0 10px;
	padding: 10px 0 0 10px;
	width: 47%;
}

#unlabelled-events, #active-event {
	margin-bottom: 50px;
}

.vignette-container {
	height: 170px;
}

h4 {
	margin: 0;
}

.vignette-list {
	border: 2px solid black;
	float: left;
}
.vignette-list > .vignette-container {
	white-space: nowrap;
	overflow-x: scroll;
	cursor: pointer;
}

.vignette-list > .vignette-container > img {
	cursor: pointer;
	height: 150px;
}

#unlabelled-events {
	direction: rtl;
}

#active-event {
	clear: both;
	border: 2px solid grey;
}

#labelled-SWR {
	float: right;
}
