html, body {
	height: 100%;
}

#vignette-container {
	/* Extra pixels for scroll bar */
	height: 130px;
	white-space: nowrap;
	overflow-x: scroll;
}

.vignette {
	height: 110px;
	cursor: pointer;
	border-top: 1.5px solid white;
	border-bottom: 1.5px solid white;
}

.vignette:hover { border-top-color: #999 }

.has-comment { border-top-color: #CCC }

.SWR { border-bottom-color: #28A745 }

.not-SWR { border-bottom-color: #DC3545 }

.active { border-top-color: #666 }

#context {
	overflow-x: scroll;
	height: 100%;
}

#context > img {
	min-width: 1000px;
	width: 100%;
}

.scalebar {
	display: block;
	position: absolute;
	background: black;
}

#voltage {
	/* 1 mV */
	height: 32.15px;
	width: 1px;
	top: 45%;
	left: 18px;
}

#time {
	/* 50 ms */
	width: 58.04px;
	height: 1px;
	bottom: 10%;
	left: 20px;
}

.modal-body > h5 {
	margin-top: 1.5em;
}

@media (min-width: 992px) {
	.modal-lg {
		max-width: 45%;
	}
}
